* {
    box-sizing: border-box;
}

body {
}

ul, ol {
    list-style: none;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.gallery  {
    border: none;
    max-width: 1440px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 24px;
    column-gap: 24px;
    padding: 24px 156px;
    width: 100%;
}

.gallery-item {
}
.gallery-item:hover {
    stroke-width: 0;
    color: #4E75FF;
}
.gallery-link {
    background: rgba(46, 47, 66, 0.80);
}

.gallery-image {
    width: 360px;
    height: 200px;
    justify-content: center;
}